@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,p{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* img{
    width: 100%;
    height: 100%;
} */
a{
    text-decoration: none;
}

header.container {display: flex;justify-content: center;}

section.hero-area {
    width: 1321px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin: 20px 0 50px;
    padding: 15px 0;
}

.hero-title h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    line-height: 80px;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-title > .box-btn {
    background-color: rgb(12 119 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    transition: .3s;
}
.box-btn:hover{
    background: #E53E31;
}

.hero-img img {
    width: 581px;
}
/* article-section-start */
.news-btn {
    background: #000;
    display: inline-block;
    border-radius: 11px;
    width: 312px;
    height: 312px;
    text-align: center;
    margin-right: 20px;
}

.news-btn a {
    background-color: rgb(12 119 0);
    width: 252px;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    transition: .3s;
}
.news-btn a:hover {
    background: #E53E31;
    color: #fff;
}
.blog-btn {
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-weight: 500;
}
.blog-title h2 {
    font-size: 18px;
    font-weight: 600;
}
.blog-title, .blog-btn{
    color: #161616;
}
p.next-match {
    display: inline;
    margin-right: 35px;
    color: #5C5C5C;
}
p.next-match span {
    margin-left: 10px;
}
.blog {
    display: flex;
    justify-content: flex-end;
}

article.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: end;
}

.single-blog {border: 1px solid #ddd;border-radius: 10px;}

.blog-title {
    padding: 0px 15px 15px;
}
/* article-section-end */
/* footer-section-start */
footer.footer-section {
    text-align: center;
    color: #fff;
    background: #000;
    padding: 70px 0;
    margin-top: 80px;
}
footer.footer-section h1 {
    border-bottom: 1px solid #2b2b2bdd;
    padding-bottom: 30px;
}
.footer-manu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-manu ul li {
    display: inline-block;
    margin:  30px;
    font-size: 14px;
}
/* footer-section-end*/

/*upcomming-match */
.single-upcomming-match {
    text-align: center;
    padding: 53px 30px;
    border: 1px solid #ddd;
    border-radius: 25px;
}
article.upcomming-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

section.match-blog {
    display: flex;
    justify-content: space-evenly;
}
.upcomming-news-btn {
    margin: 0;
}
.between {
    padding: 15px;
}
.flag {
    display: flex;
    align-items: center;
}

/* mobile */
@media screen and (max-width:576px) {
    .hero{
        display: block;
    }
    .hero-img img {
        width: 100%;
    }
    .hero-title h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .hero-title {
        text-align: center;
    }
    .hero-title > .box-btn{
        margin-top: 0;
        margin-bottom: 10px;
    }
    section.match-blog, .blog{
        display: block;
        text-align:center;
    }
    .news-btn{
        background-color: #fff;

    }
    .news-btn a {
        color: #000;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .news-btn a:hover{
        background-color: #E53E31;
    }
    article.upcomming-match{
        display: block;
    }

    article.blog-section{
        display: block;
    }
    .blog-title {
        padding: 0px 15px 15px;
        text-align: left;
    }
    .single-blog{
        margin: 34px;
    }

    .flag {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .single-upcomming-match {
        border: 1px solid #ddd;
        border-radius: 25px;
        margin: 15px;
    }
    .footer-manu ul li{
        display:block;
    }
    img{
        width: 100%;
    }

}
/* mobile */
/* tablet */
@media screen and (min-width:577px) and (max-width:992px)  {
    .blog {
        display: block;
    }
    .news-btn {
        display: flex;
        background: none;
        justify-content: space-between;
        height: auto;
        width:auto ;

    }

    }
    